<div class="m-10 border w-96">

    <ngtw-range text="asdf asdf asdf"
                labelClasses="text-blue-900 bg-gray-300"
                inputClasses="h-2 border-2 accent-green-900 bg-blue-500 border-gray-400 appearance-none"
                textClasses="text-gray-600"
                minLabel="the min"
                minClasses="font-bold text-gray-400"
                maxLabel="the max 123"
                maxClasses="font-bold text-red-600"
                [value]="39"
                [min]="1"
                [max]="99"
                [value$]="value$"></ngtw-range>

</div>
