<div class="flex p-3 my-5 items-center border rounded border-4 border-gray-300 rounded-xl bg-neutral-800 p-10 text-sm  shadow-inner shadow-black">

    <div class="mx-0.5 mr-1 text-gray-500">$</div>

    <div class="flex-1 text-blue-400 font-medium text-green-500">
        <ng-content></ng-content>
    </div>

    <svg class="h-6 w-6 hover:fill-fuchsia-500 transform active:scale-75 transition-transform" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path opacity=".3" d="M8 7h11v14H8V7z" fill="currentColor"></path>
        <path d="M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm3 4H8c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 16H8V7h11v14z" fill="currentColor"></path>
    </svg>

</div>
